.post-content {
	width: 80vw;
	margin: 3em auto;
	}

.child-post-wrapper {
  display: flex; 
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1em;
  border: 1px solid;
  padding: 1em;
  overflow: hidden;
}

.child-thumb-holder{
  width: 200px;
  height: 200px;
}

img.child-thumb {
	padding: 0 1em 1em 0;
    object-fit: cover;
    max-width: 200px;
}

.child-content-header {
	width: 100%;
	margin: 3em 0 2em 0;
	border-bottom: 1px solid;
	display: block;
}

.child-post-summary {
	width: 100%;
}

.child-post-wrapper:hover {
	background-color: #efefef;
}

#sites-content{
	margin: 3em;
}

#syndicated-site-description {
	margin: .3em 0 .5em 0;
	padding: 0;
}