.post-content {
	width: 80%;
	margin: 3em auto;
	}

.child-content-header {
	width: 100%;
	margin: 3em 0 2em 0;
	border-bottom: 1px solid;
	display: block;
}

.child-post-content {
	display: block;
	margin: 1em;
	border: 1px solid;
	padding: 1em;
}

.child-post-content:hover {
	background-color: #efefef;
}

#sites-content{
	margin: 3em;
}